
{{#each featured}}
<div class="card">
    <div class="card_text">
        <h3 style="color: black">{{this.category}}</h3>
    </div>
    <div class="card_imgs">
        <a href="/p/{{this.category}}" class="card_img">
        <img
            class="b-radius"
            src="{{image_url}}/{{this.pix1}}"
            alt=""
            loading="lazy"
        />
        </a>
        <a href="/p/{{this.category}}" class="card_img">
        <img
            class="b-radius"
            src="{{image_url}}/{{this.pix2}}"
            alt=""
            loading="lazy"
        />
        </a>
        <a href="/p/{{this.category}}" class="card_img">
        <img
            class="b-radius"
            src="{{image_url}}/{{this.pix3}}"
            alt=""
            loading="lazy"
        />
        </a>
    </div>
</div>
{{/each}}