<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/basic/utils.css" media="all"/>
    <link rel="stylesheet" href="/css/basic/login.css"/>
    <link rel="stylesheet" href="/css/basic/nav.css"/>
    <link rel="stylesheet" href="/css/basic/footer.css"/>
    <link rel="stylesheet" href="/css/categories/category.css" />
    <title>Categories - Arts of Electronics</title>
  </head>
  <body>
    <!--   start of top section-->
    {{> pre_nav}}
    <!--  end of top section   -->

    <!--   start of navbar -->
    {{> navbar}}
    <!---    end of navbar--->
    <!-- start of loader animation --->
    <!-- end of loader animation --->

    <!----------start of forms -------------->
    {{> reg_forms}}
    <!--- end of forms ---->

    <div class="section container">
      <div class="left">
        <aside class="top_body_left">
          <h3 class="text-dark"><img class="web_svg" src="/svg/menu_black_24dp.svg" alt="svg">
            Categories
          </h3>
          {{#each categories}}
          <div class="top_left_items">
            <a href="/p/{{this.category}}" class="btn">{{this.category}}</a>
          </div>
          {{/each}}
        </aside>
      </div>
      <main>
        <div class="featured">
          <h2>Featured Categories</h2>
          <div class="features">
            {{#each subCategories}}
            <div class="cat_box">
              {{#if this.sub}}
              {{#each this.sub}}
              <div class="cat_img">
                <a href="/p/{{this.category}}/{{this.sub_category}}">
                  <img src="data:image/png;base64,{{this.image}}" alt="{{this.type}}">
                </a>
              </div>
              {{/each}}
              {{else}}
              <div class="cat_img"></div>
              {{/if}}
              <h4>{{this.type}}</h4>
            </div>
            {{/each}}
          </div>
        </div>

          {{#each subs}}
        <div class="sub_section">
          <h2>{{this.type}} 
            <a href="/p/{{this.category}}/{{this.type}}">
              <span>View All</span>
              <img class="web_svg" src="/svg/chevron_right_black_24dp.svg" alt="svg">
            </a>
          </h2>
          <div class="items">
            {{#each this.sub}}
            <div class="card" id="product">
              <a href="/p/{{this.category}}/{{this.sub_category}}/{{this.name}}">
                  <div class="card_img">
                  <img class="b-radius" loading="lazy" src="data:image/png;base64,{{this.image}}" alt="{{this.name}}" />
                  </div>
                  <div class="card_text">
                  <p id="product_name">{{this.name}}</p>
                  </div>
                  <div class="card_price" style="color: blue; font-weight: 900">
                  <span style="margin-right: 0.4rem;">&#8358;</span>
                  <span id="price" style="font-size: 0.8rem;">{{this.price}}</span>
                  </div>
              </a>
            </div>
            {{/each}}
          </div>
        </div>
        {{/each}}
      </main>
    </div>

    {{!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
      </ol>
    </nav> --}}
    {{> footer}}

  <script src="/js/home/home.js"></script>
  <script src="/js/basic/form.js"></script>
  </body>
</html>