<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/basic/utils.css" media="all"/>
    <link rel="stylesheet" href="/css/basic/login.css"/>
    <link rel="stylesheet" href="/css/basic/nav.css"/>
    <link rel="stylesheet" href="/css/basic/footer.css"/>
    <link rel="stylesheet" href="/css/categories/category.css" />
    <title>Categories - Arts of Electronics</title>
  </head>
  <body>
    <!--   start of top section-->
    {{> pre_nav}}
    <!--  end of top section   -->

    <!--   start of navbar -->
    {{> navbar}}
    <!---    end of navbar--->
    <!-- start of loader animation --->
    <!-- end of loader animation --->

    <!----------start of forms -------------->
    {{> reg_forms}}
    <!--- end of forms ---->


    <div class="featured">
      <h2>Featured Categories</h2>
      <div class="features container">
        {{#each categories}}
        <div class="cat_box">
          <a href=""></a>
          <div class="cat_img">
            <img src="" alt="{{this.type}}">
          </div>
          <h4>{{this.type}}</h4>
        </div>
        {{/each}}
      </div>
    </div>

      {{#each subs}}
    <div class="sub_section">
      <h2 class="container">{{this.type}}</h2>
      <div class="items container">
        {{#each this.sub}}
        <div class="card" id="product">
          <a href="/p/{{this.category}}/{{this.name}}">
              <div class="card_img">
              <img class="b-radius" loading="lazy" src="data:image/png;base64,{{this.image}}" alt="{{this.name}}" />
              </div>
              <div class="card_text">
              <p id="product_name">{{this.name}}</p>
              </div>
              <div class="card_price" style="color: blue; font-weight: 900">
              <span style="margin-right: 0.4rem;">&#8358;</span>
              <span id="price" style="font-size: 0.8rem;">{{this.price}}</span>
              </div>
          </a>
        </div>
        {{/each}}
      </div>
    </div>
      {{/each}}

    {{!-- <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/categories">Categories</a></li>
        <li class="breadcrumb-item active" aria-current="page">Explore Categories</li>
      </ol>
    </nav> --}}

    {{!-- <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3 mb-4">
      <% if(typeof categories !== 'undefined' && categories.length > 0) { %>
        <% categories.forEach(function(category, index) { %>
          <a href="/categories/<%- category.name %>" class="col text-center category__link">
            <div class="category__img shadow">
              <img src="/img/<%- category.image %>" alt="<%- category.name %>" loading="lazy">
            </div>
            <div class="pt-1"><%- category.name %></div>
          </a>
        <% }) %>
      <% } %>
    </div>


    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">
      <% if(typeof categoryById !== 'undefined' && categoryById.length > 0) { %>
        <% categoryById.forEach(function(recipe, index){ %>
        <a href="/recipe/<%= recipe._id %>" class="col text-center category__link">
          <div class="category__img category__img--large shadow">
            <img src="/uploads/<%= recipe.image %>" alt="<%= recipe.name %>" loading="lazy">
          </div>
          <div class="pt-1"><%= recipe.name %></div>
        </a>
        <% }) %>
      <% } else { %>
        <p>No items found.</p>
      <% } %>
    </div> --}}





    {{> footer}}

  <script src="/js/home/home.js"></script>
  <script src="/js/basic/form.js"></script>
  </body>
</html>