<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arts of Electronics - Online Shopping for Popular Electronics and Home Gadgets</title>
    <link rel="stylesheet" href="/css/mobile/basic/utils.css" />
    <link rel="stylesheet" href="/css/mobile/basic/footer.css" />
    <link rel="stylesheet" href="/css/mobile/basic/nav.css" />
    <link rel="stylesheet" href="/css/mobile/basic/side_menu.css" />
    <link rel="stylesheet" href="/css/basic/comfirm_email.css">
    <link rel="stylesheet" href="/css/basic/login.css">
    <link rel="stylesheet" href="/css/mobile/home.css" />
  </head>
  <body>
    <!-- start of navbar -->
    {{> nav}}
    <!-- end of navbar -->
    <!-- start of side_menu -->
    {{> side_menu}}
    <!-- end of side_menu -->
    <!-- start of email comfirmation -->
    {{> comfirm_email}}
    <!-- end of email comfirmation -->
    <!-- start of forms -->
    {{> reg_forms}}
    <!-- end of forms -->

    <!-- start of features -->
    <div class="collection">
      <h3 style="color: black">Shop From our Collection</h3>
      <div class="container">
        {{#each featured}}
        <div class="card">
          <div class="card_imgs">
            <a href="#" class="card_img">
              <img
                class="b-radius"
                src="data:image/png;base64,{{this.pix1}}"
                alt=""
                loading="lazy"
              />
            </a>
          </div>
          <div class="card_text">
            <h3 style="color: black">{{this.category}}</h3>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <!-- start of features -->

    <!-- start of Recent -->
    <section class="recent_products">
      <h3>Recent Deals</h3>
      <div class="container">
          <!-- products -->
          <div class="recent">
            {{#each recent}}
            <div class="card" id="product">
              <a href="/p/{{this.category}}/{{this.name}}">
                <div class="card_img">
                  <img
                    class="b-radius"
                    loading="lazy"
                    src="data:image/png;base64,{{this.image}}"
                    alt=""
                  />
                </div>
                <div class="card_text">
                  <p id="product_name">{{this.name}}</p>
                </div>
              </a>
            </div>
            {{/each}}
          </div>
      </div>
    </section>
    <!-- end of Recent -->
    <!-- start of More -->
    <section class="more">
      <h3>More To Like</h3>
      <div class="container">
          <!-- products -->
          <div class="mores">
            {{#each products}}
            <div class="card" id="product">
              <a href="/p/{{this.category}}/{{this.name}}">
                <p id="product_id" hidden></p>
                <div class="card_img">
                  <img
                    class="b-radius"
                    loading="lazy"
                    src="data:image/png;base64,{{this.image}}"
                    alt="{{this.name}}"
                  />
                </div>
                <div class="card_text">
                  <p id="product_name">{{this.name}}</p>
                </div>
                <div class="card_price">
                  <span style="margin-right: 0.2rem">&#8358;</span>
                  <span id="price">{{this.price}}</span><span>.00</span>
                </div>
              </a>
            </div>
            {{/each}}
          </div>
      </div>
    </section>
    <!-- end of More -->
    <!-- start of footer -->
    {{> footer}}
    <!-- end of footer -->
    <script src="/js/basic/form.js"></script>
    <script src="/js/mobile/side_menu.js"></script>
  </body>
</html>