<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Page - Arts of Electronics</title>
    <link rel="stylesheet" href="/css/mobile/basic/utils.css" />
    <link rel="stylesheet" href="/css/mobile/basic/footer.css" />
    <link rel="stylesheet" href="/css/mobile/basic/nav.css" />
    <link rel="stylesheet" href="/css/mobile/basic/side_menu.css" />
    <link rel="stylesheet" href="/css/basic/login.css">
    <link rel="stylesheet" href="/css/basic/loader.css">
    <link rel="stylesheet" href="/css/basic/comfirm_email.css">
    <link rel="stylesheet" href="/css/mobile/product.css" />
</head>
<body>
    <!-- start of nav bar-->
    {{> nav}}
    <!-- end of nav bar-->
    <!-- start of side menu-->
    {{> side_menu}}
    <!-- end of side menu-->
    <!-- start of email comfirmation -->
    {{> comfirm_email}}
    <!-- end of email comfirmation -->
    <!-- start of forms -->
    {{> reg_forms}}
    <!-- end of forms -->
    <!-- start of loader modal  -->
    {{> loader}}
    <!-- end of loader modal  -->


    
    <!--  start of product -->
    <div class="product">
      <div class="container">
        {{#each product}}
        <input id="product_id" type="hidden" name="id" value="{{this.product_id}}"/>
        <div class="product_img">
          <img loading="lazy" id="product_img" src="{{image_url}}/{{this.images}}" alt="{{this.name}}" />
        </div>
        <div class="product_details">
          <h3 id="product_name">{{this.name}}</h3>
          <div class="cat">
            <h5>Category: <span id="category">{{this.category}}</span></h5>
          </div>
          <h2 class="pricing">
            <span>&#8358;</span> <span id="product_price">{{this.price}}</span>
          </h2>
          <div class="p_qty">
            <p>Quantity:</p>
            <div class="qty_control">
              <span id="remove" class="qty_btn"
                ><img
                  class="web_svg"
                  src="/svg/remove_black_24dp.svg"
                  alt="svg"
              /></span>
              <span id="product_qty">1</span>
              <span id="add" class="qty_btn"
                ><img class="web_svg" src="/svg/plus.svg" alt="svg"
              /></span>
            </div>
          </div>
          <div class="rating">
            <div class="rates">
              <span>&starf;</span> <span>&starf;</span> <span>&starf;</span>
              <span>&starf;</span> <span>&starf;</span
              ><span>(No rating available)</span>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <!--  end of product -->
    <div class="product_data dets">
      {{#each product}}
      <h3>Product Details 
        <a href="/p/{{this.category}}/{{this.sub_category}}/{{this.name}}/description">
            <img src="/svg/chevron_right_black_24dp.svg" alt="svg">
        </a>
      </h3>
      <div class="p_det">
        <p>{{this.description}}</p>
      </div>
      {{/each}}
    </div>
    <!--  start of cart button -->
    <div class="cart_btn">
      <button class="fav_btn">
        <img src="/svg/favorite_border_black_24dp.svg" alt="" />
      </button>
      <button id="card_cart">ADD TO CART</button>
    </div>
    <!--  end of cart button -->

    <!-- start of product modal-->
    {{> productModal}}
    <!-- end of product modal-->


    <!-- start of footer-->
    {{> foot}}
    <!-- end of footer-->
    <script src="/js/basic/form.js"></script>
    <script src="/js/mobile/side_menu.js"></script>
    <script src="/js/product/product.js"></script>
</body>
</html>